h1 {
    font-weight: 700;
    font-size: 5rem;
}

.navbar {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.nav-link {
    font-family: "Verdana", sans-serif;
    font-size: 1rem;
}

.text-primary {
    color: #aa0707 !important;
}

.img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 0, 0, 0.2);
}