h1, h2, h3, h4, h5 {
    font-family: "Verdana", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
    color: grey;
}

p, li, a {
    font-family: "Verdana", sans-serif;
    font-size: 1.25rem;
}

#about_heading {
    padding-top: 2%;
}

#about_info {
    text-align: left;
}

.center_it {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subheading {
    font-family: "Verdana", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

.nav-link {
    font-family: "Verdana", sans-serif;
    font-size: 1rem;
}

.text-primary {
    color: #aa0707 !important;
}

.img-profile {
    width: 80%;
    border: 0.5rem solid #aa0707;
}

.resume-section {
    border-bottom: 2px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}